<!DOCTYPE html>
<html>

<head>
    <title>Name List exercise</title>
    <link rel="stylesheet" type="text/css" href="./css/styles.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="./js/main.js"></script>
</head>

<body>
    <div id="wrapper">
        <h1>Name list</h1>
        <!--<form action='/name' method='post'></form>-->
        <input type='text' placeholder='Enter Name' name='name' id='name' fo>
        <button>Add Name</button>
        <div class="list">
            <!--<% nameList.forEach( (el, index) => { %>
                    <div><%=(index+1 > 9 ? index+1 : ("&nbsp;" + (index+1))) %>.) <%=el%></div>
            <% });  %>-->
        </div>
        <button class='clear'>Clear</button>
    </div>
</body>

</html>