<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Survey Form</title>
   </head>
   <body>
       <div id="wrapper">
             <label>Your name:</label>
             <%=info.name%>
             <br>
             <label>Dojo Location:</label>
             <%=info.location%>
             <br>
             <label>Favorite Language:</label>
             <%=info.language%>
             <br>
             <label>Comments:</label>
             <%=info.comments%>
<br>
         <a href="/">home</a>   
      </div><!-- end of wrapper -->
   </body>
</html>